.h1_tag{
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bolder;
}

.main{
    position:absolute;
    bottom: 0;
    color: white;
    margin-left: 60%;
    font-size: 25px;
}